@import '../../../scss/mixins.scss';

.parent {
  position: relative;
  overflow: hidden;
  box-shadow: 10px 1px 40px rgba(51, 51, 51, 0.53);
  border-radius: 10px;
  @include desktop {
    transition: transform, -webkit-transform, -ms-transform, box-shadow;
    transition-duration: .5s;
  }
  @include IE10up {
    margin: 20px 0;
      @media (min-width: 900px) {
        width:45%;
        margin: 20px;
        float: right;
    }
  }
}


.parent:hover {
  @include desktop {
    @include prefix(transform, translateY(-15px), webkit ms);
    box-shadow: 25px 25px 55px rgba(51, 51, 51, 0.83);
    }
  }

.darken {
  @include desktop {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color .5s ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:hover .information-banner {
      @include prefix(transform, translateY(0px), webkit ms);
    }
  }
}


.website {
  width: 100%;
  min-height: 175px;
  height: 20vh;
  background-color: pink;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform, -webkit-transform, -ms-transform, .5s;
  @include desktop {
    min-height: 200px;
    height: 30vh;
  }
  &:hover {
    @include prefix(transform, scale(1.1), webkit ms);
  }
}

.information-banner {
  position: absolute;
  text-align: center;
  background: linear-gradient(160deg, rgba(246, 96, 164, 0.4), rgba(252, 171, 58, 0.5));
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  @include desktop {
    background-color: transparent;
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    @include prefix(transform, translateY(500px), webkit ms);
    @include flex-column;
    justify-content: center;
    transition: transform, -webkit-transform, -ms-transform, .5s;
  }
  button {
    @include button;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.26);
    color: $primary-color;
    background-color: white;
    outline: none;
    transition: color, background-color, transform, -webkit-transform, -ms-transform, border, .3s;
    &:hover {
      color: white;
      background-color: pink;
      transform: translateY(-5px);
    }
    > a {
      text-decoration: none;
      color: $primary-color!important;
      &:hover {
        color: white!important;
      }
    }
  }
}


.information-banner button:hover >a {
    color: white!important;
}
