@import '../../scss/mixins.scss';

.portfolio-container {
  width: 90%;
  margin: 0 auto;
  padding: 8vh 0;
  @include tablet {
    width: 75%;
  }
    h2 {
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 40px;
    color: $primary-color;

  }
}

#gallery {
  padding-top: 25px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  @include tablet {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2vw;
  }
  @include IE10up {
    position:relative;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .parent:first-child {
    @include tablet {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    @include desktop {
      grid-column-end: 4;
    }
  }
  .parent:nth-child(2) {
    @include tablet {
      grid-column-end: 3;
      grid-column-start: 1;
    }
    @include desktop {
      grid-column-end: 2;
    }
  }
}
