@import '../../scss/mixins.scss';

.about-container {
  text-align: center;
  background-image: linear-gradient(145deg, black 65%, #323232);
  padding: 8vh 0;
}

.alignment {
  @include flex-column;
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
  img {
    width: 35vw;
    margin-bottom: 5vw;
    border-radius: 50%;
    max-width: 250px;
    @include desktop {
      width: 18vw;
      height: auto;
      margin-right: 3vw;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  h2 {
    font-family: 'La Belle Aurore', cursive;
    color: $primary-color;
    font-size: 34px;
    @include tablet {
      font-size: 50px;
    }
  }
  p {
    padding: 0;
    color: #dddddd;
    width: 90%;
    margin: 0 auto;
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    font-size: 18px;
  }
  > div {
    max-width: 600px;
  }
}
