@import '../../../scss/mixins.scss';

.project-page {
  text-align: center;
  a {
    color: $muted-pink;
  }
  h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
  }
  button {
    margin-top: 10px;
  }

  .project-photo {
    width: 100%;
    height: auto;
    margin: 20px auto;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.56);
  }

  p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.75;
    text-align: center;
  }
}

.logo {
  width: 200px;
}
