
@import '../../../scss/mixins.scss';

.certification-container {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 0;
  font-size: 16px;
  text-align: center;
  padding: 8vh 0 0 0;
  .udemy-title {
    color: $brown;
  }
  > div {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    @include desktop {
      width: 80%;
    }
    a {
      text-decoration: none;
      width: 100%;
      @include tablet {
        width: 50%;
      }
    }
  }
  .certifications {
    padding-top: 2rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    a:last-child {
      width: 100%;
    }
  }
  .udemy {
    background-color: $brown;
    color: $white;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    justify-content: start;
    padding: 10px;
    margin: 15px 0;
    transition: background-color .4s;
    box-shadow: 0px 0px 10px $brown;
    &:hover {
      background: $muted-pink;
      box-shadow: 0px 0px 15px $muted-pink;
    }
    
    @include tablet {
      margin: 5px;
      justify-content: left;
      min-height: 0px;
    }
    p {
      margin: 5px 0;
      width: 100%!important;
      transition: color .4s;
      &:first-of-type {
        font-size: 16px;
      }
      &:last-of-type {
        padding-top: 5px;
        font-size: 14px;
        border-top: 1px solid $white;
      }
    }
  }
  img {
    width: 50px;
    @include desktop {
      width: 60px;
    }
  }
}
