
@import '../../../scss/mixins.scss';

.certification-container {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 0;
  font-size: 16px;
  text-align: center;
  padding: 8vh 0 0 0;
  .udemy-title {
    font-family: 'Raleway', sans-serif;
    color: $brown;
    margin: 15px 0;
    font-size: 24px;
  }
  > div {
    width: 90%;
    margin: 0 auto;
    @include desktop {
      width: 65%;
    }
    a {
      text-decoration: none;
      width: 100%;
      @include tablet {
        width: 50%;
      }
    }
  }
  .certifications {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    a:last-child {
        width: 100%;
    }
  }
  .udemy {
    background-color: $brown;
    color: $white;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    justify-content: start;
    padding: 10px;
    margin: 15px 0;
    transition: background-color .4s;
    box-shadow: 0px 0px 10px $brown;
    &:hover {
      background: $muted-pink;
      box-shadow: 0px 0px 15px $muted-pink;
    }
    
    @include tablet {
      margin: 5px;
      justify-content: left;
      min-height: 0px;
    }
    img {
      @include tablet {
        width: 50px;
      }
    }
    p {
      margin: 5px 0;
      text-align: left;
      line-height: 1;
      width: 100%!important;
      transition: color .4s;
      @include tablet {
        padding-left: 10px;
      }
    }
    .bold {
      font-weight: bold;
    }
  }
  i {
    font-size: 36px;
    padding-right: 10px;
    @include tablet {
      font-size: 45px;
    }
    @include desktop {
      font-size: 55px;
    }
  }
  img {
    width: 32px;
    @include tablet {
      width: 45px;
    }
    @include desktop {
      width: 50px;
    }
  }
}
