@import '../../scss/mixins.scss';

.contact {
  padding: 8vh 0;
  text-align: center;
  h2 {
    font-family: 'La Belle Aurore', cursive;
    color: $primary-color;
    font-size: 34px;
    margin: 0;
    text-align: center;
    @include tablet {
      font-size: 50px;
    }
  }
}

.contact-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  @include tablet {
    display: flex;
    width: 80%;
    > form {
      width: 60%;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  h3 {
    color: black;
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 5px 0;
    @include tablet {
      font-size: 24px;
    }
    @include desktop {
      font-size: 34px;
    }
  }
  #call {
    padding-bottom: 8vw;
    @include tablet {
      padding-bottom: 50px;
    }
  }
}

.contact-links {
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a img,
  a i {
    display: inline-block;
    padding: 1vw;
    flex-grow: 1;
    max-width: 11vw;
    transition-property: transform, -webkit-transform, -ms-transform;
    transition-duration: .5s;
    &:hover {
      @include prefix(transform, scale(1.1) translateY(-15px), webkit ms);
    }
    @include tablet {
      max-width: 8vw;
    }
    @include desktop {
      max-width: 7vw;
      &:hover {
        @include prefix(transform, scale(1.1) translateY(-25px), webkit ms);
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  button {
    width: 50%;
    padding-top: 10px;
    margin: 0 auto;
    @include button;
    letter-spacing: 5px;
    &:hover {
      background: linear-gradient(130deg, rgba(246, 96, 164, 0.89), $secondary-color);
      color: white!important;
      border-color: white;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    label {
      color: #1c1a1b;
      font-family: 'EB Garamond', serif;
      letter-spacing: 5px;
      padding: 5px;
      @include tablet {
        font-size: 18px;
      }
      @include desktop {
        font-size: 22px;
      }
    }
    input, textarea {
      outline: none;
      border: 2px solid #1c1a1b;
      padding: 5px;
      transition: border-color .3s;
      font-size: 1rem;
      font-family: 'EB Garamond', serif;
      // &:hover,
      // &:focus {
      //   border-color: $primary-color;
      // }
      &:focus {
        color: white;
        background-color: rgba(0, 0, 0, 0.86);
      }
      @include tablet {
        font-size: 18px;
      }
      @include desktop {
        font-size: 22px;
      }
    }
    textarea {
      height: 150px;
      margin-bottom: 15px;
      @include desktop {
          height: 200px;
      }
    }
  }
}
