@import '../../scss/mixins.scss';

.contact {
  padding: 8vh 0;
  text-align: center;
  h2 {
    font-family: 'La Belle Aurore', cursive;
    color: $primary-color;
    font-size: 40px;
    margin: 0;
    text-align: center;
    @include tablet {
      font-size: 55px;
    }
  }
}

.contact-container {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  @include tablet {
    display: flex;
    width: 60%;
    font-size: 20px;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @include desktop {
    font-size: 24px;
  }
  h3 {
    color: black;
    margin: 0;
    padding: 5px 0;
    @include tablet {
      font-size: 24px;
    }
    @include desktop {
      font-size: 34px;
    }
  }
}

.contact-links {
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet {
    flex-direction: column;
    margin-right: 50px;
  }
  a img,
  a i {
    display: inline-block;
    padding: 1vw;
    flex-grow: 1;
    max-width: 12vw;
    transition-property: transform, -webkit-transform, -ms-transform;
    transition-duration: .5s;
    &:hover {
      @include prefix(transform, scale(1.1) translateY(-15px), webkit ms);
    }
    @include tablet {
      max-width: 8vw;
    }
    @include desktop {
      max-width: 85px;
      &:hover {
        @include prefix(transform, scale(1.0) translateY(-10px), webkit ms);
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  button {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    @include button;
    letter-spacing: 8px;
    border: none;
    background: linear-gradient(130deg, rgba(246, 96, 164, 0.89), $secondary-color);
    &:hover {
      transform: translateY(-5px);
    }
    @include tablet {
      width: auto;
      font-size: 18px;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    label {
      color: #1c1a1b;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 5px;
      padding: 5px;
      @include tablet {
        font-size: 18px;
      }
      @include desktop {
        font-size: 22px;
      }
    }
  }
  .inputs {
    padding-bottom: 30px;
    > div {
      margin: 5px 0;
    }
  }
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-color: $secondary-color!important;
}

.MuiInputLabel-animated {
  color: black!important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid $primary-color!important;
}

.MuiSnackbar-root div {
  background-color: white;
  color: #333333;
  width: 100%;
  span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}