
@import '../../scss/mixins.scss';

.landing-screen {
  padding: 5vw;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    flex-direction: row;
    height: 100vh;
  }
  img {
    width: 75%;
    flex-grow: 1;
    border-radius: 50%;
    @include tablet {
      width: 350px;
    }
  }
  .points {
    text-align: right;
  }
  .points {
    margin-bottom: 5vh;
  }
  h1 {
    font-size: 40px;
    margin: 0;
    @include tablet {
      font-size: 75px;
    }
    @include desktop {
      font-size: 100px;
    }
  }
  h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0;
  }

  h1, h2, h3 {
    color: $spanish-pink;
    font-family: 'Cormorant Garamond', serif;
  }

  h2 {
    margin: 75px 0;
  }


  h2 {
    font-family: 'Raleway', sans-serif;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}

#hello {
  color: $brown;
  @include desktop {
    font-size: 200px;
  }
}

// button {
//   transition: 0.5s;
//   box-shadow: 0 0 10px $muted-pink;
//   margin-left: 25px!important;
//   &:hover {
//     background-position: right center; /* change the direction of the change here */
//   }
//   background-size: 250% auto;
//   background-image: linear-gradient(to right, $spanish-pink 0%, $muted-pink 51%, $spanish-pink 100%);
// }

[class^=swipe] {
  position: relative;
  display: block;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid currentColor;
  background-color: $brown;
  z-index: -1;
}


.swipe:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lighten($brown, 10%);
  transform: translateX(-100%);
}
.swipe:hover {
  color: $white;
}
.swipe:hover:before {
  transform: translateX(0);
}


html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}