
@import '../../scss/mixins.scss';

.landing-screen {
  padding: 5vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: url('../../../dist/images/pink-noun-circle.svg'), url('../../../dist/images/brown-noun-circle.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 300px 300px, 400px 400px;
  background-position: -200px 0px, -175px -175px;
  @include large-desktop {
    background-size: 500px 500px, 450px 450px;
    background-position: -200px -150px, -15px -275px;
  }

  @include tablet {
    padding-top: unset;
    flex-direction: row;
    height: 100vh;
  }
  #profile-image {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px $muted-pink;
    @include tablet {
      width: 350px;
      max-width: 400px;
    }
  }
  .points {
    text-align: right;
    margin-bottom: 5vh;
  }
  h1 {
    font-size: 75px;
    margin: 0;
    color: $spanish-pink;
    font-family: 'Cormorant Garamond', serif;
    @include tablet {
      font-size: 75px;
    }
    @include desktop {
      font-size: 100px;
    }
  }
  h2 {
    font-size: 30px;
    margin: 10px 0;
    margin: 75px 0;
    color: $brown;
    font-family: 'Raleway', sans-serif;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      margin-left: 10px;
    }
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  #hello {
    color: $brown;
    font-size: 100px;
    @include tablet {
      font-size: 150px;
    }
    @include desktop {
      font-size: 200px;
    }
  }
  .swipe {
    position: relative;
    display: block;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: $brown;
    z-index: -1;
    box-shadow: 0px 0px 10px $brown;
  }
  
  
  .swipe:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $brown-hue-offset;
    transform: translateX(-100%);
  }
  .swipe:hover {
    // color: $white;
    box-shadow: 0px 0px 20px $brown-hue-offset;
  }
  .swipe:hover:before {
    transform: translateX(0);
  }
}