
@import '../../scss/mixins.scss';

.LandingImage {
  height: 100vh;
  background-image: url(../../images/screen.jpg),linear-gradient(120deg, rgba(246,96,164,0.89), #fcab3a);
  background-blend-mode: soft-light;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-end;
  padding-top: 90px;
  @include tablet {
    padding-top: 10vw;
  }
  img {
    position: absolute;
    left: 10vw;
    bottom: 15vw;
    width: 50vw;
    @include tablet {
      width: 30vw;
      left: 15vw;
    }
    @include desktop {
      left: 8vw;
      bottom: 5vw;
    }
  }
  .points, .skills {
    margin-right: 5vw;
    text-align: right;
    @include tablet {
      margin-right: 10vw;
    }
  }
  .points {
    border-bottom: 2px solid white;
    margin-bottom: 5vh;
  }
  h1 {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 55px;
    margin: 0;
    @include tablet {
      font-size: 75px;
    }
    @include desktop {
      font-size: 100px;
    }
  }
  h2 {
    font-family: 'La Belle Aurore', cursive;
    color: white;
    font-size: 35px;
    margin: 10px 0;
    @include tablet {
      font-size: 50px;
    }
  }
  h3 {
    color: white;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    @include desktop {
      font-size: 35px;
      margin-bottom: 15px;
    }
  }
}
