
@import '../../scss/mixins.scss';

.intro {
  background-color: black;
  color: white;
  margin: 0;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  text-align: center;
  padding: 8vh 0;
  > div {
    width: 90%;
    margin: 0 auto;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 40%;
    }
    a {
      text-decoration: none;
      width: 50%;
    }
  }
  .certifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .udemy {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    min-height: 60px;
    transition: background-color .4s;
    &:hover {
      background: $primary-color;
    }
    &:hover p {
      color: white;
    }
    @include tablet {
      justify-content: left;
      min-height: 0px;
    }
    img {
      @include tablet {
        width: 50px;
      }
    }
    p {
      color: black;
      font-size: 14px;
    font-family: 'EB Garamond', serif;
    margin: 0;
    text-align: left;
    line-height: 1;
    width: 100%!important;
    transition: color .4s;
    @include tablet {
      padding-left: 10px;
      font-size: 18px;
    }
    }
    .bold {
      font-weight: bold;
    }
  }
  @include tablet {
    font-size: 22px;
  }
  p {
    @include responsive;
    line-height: 1.5;
  }
  h2 {
    font-family: 'La Belle Aurore', cursive;
    color: #f66088;
    font-size: 30px;
    padding: 20px 0;
    @include tablet {
      font-size: 40px;
      padding: 40px 0;
    }
  }
  i {
    font-size: 36px;
    padding-right: 10px;
    @include tablet {
      font-size: 45px;
    }
    @include desktop {
      font-size: 55px;
    }
  }
  img {
    width: 32px;
    @include tablet {
      width: 45px;
    }
    @include desktop {
      width: 50px;
    }
  }
}
