
@import '../../scss/mixins.scss';

footer {
  color: $brown;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: right;
  padding: 20px;
  // background-image: url("../../../dist/images/keyboard.jpg"), linear-gradient(45deg, rgba(246, 96, 164, 0.89), $secondary-color);
  // background-blend-mode: soft-light;
  // background-position: bottom;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // position: relative;
  font-family: 'Cormorant Garamond', serif;
  a {
    text-decoration: none;
    color: $brown;
    font-weight: bold;
  }
  // @include desktop {
  //   background-size: contain;
  // }
  p {
    display: inline;
    padding: 0;
  }
  a {
    cursor: pointer;
  }
  > div {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  @include IE10up {
    background-image: url("../../../dist/images/keyboardIE.jpg");
    background-attachment: scroll;
    background-size: cover;
  }
}

#second-line {
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-left: 8vw;
  margin-right: 8vw;
}

.footer-container {
  @include flex-column;
  justify-content: center;
  height: 100%;
  margin: 0 1vw;
  border-left: 2px solid white;
  border-right: 2px solid white;
  text-align: center;
    padding: 0 10px;
  transtion: color .5s;
  div a:hover .fab {
    @include prefix(transform, scale(1.2) rotateY(360deg), webkit ms);
    color: $secondary-color;
  }
  > div {
    padding-top: 5px;
  }
  p {
    font-size: 18px;
  }
  .source {
    cursor: pointer;
    text-align: center;
  }
}


#computer {
  font-size: 50px;
  padding: 2vw;
}

.fab,
#computer,
.fas {
  transition-property: all;
  transition-duration: .5s;
}

.fab,
.fas,
.far {
  font-size: 1rem;
  padding-left: 5px;
}
