
@import '../../scss/mixins.scss';

footer {
  color: $brown;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-family: 'Cormorant Garamond', serif;
  a {
    text-decoration: none;
    color: $brown;
    font-weight: bold;
  }
  p {
    display: inline;
    padding: 0;
  }
  a {
    cursor: pointer;
  }
}