@import './scss/mixins.scss';

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}

body {
  background-color: $white;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration-color: none;
  text-decoration: none;
}

#app {
  min-height: 100vh;
  background-image: url('../dist/images/pink-noun-circle.svg'), url('../dist/images/brown-noun-circle.svg'), url('../dist/images/pink-noun-circle.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, contain;
  background-position: -200px 750px, 5px 700px, 200px 550px;
  @include tablet {
    background-size: 700px 700px, 750px 750px, 800px, 800px;
    background-position: -200px 500px, 135px 650px, 180% 650px;
  }
  @include large-desktop {
    background-size: 700px 700px, 800px 800px, 900px, 900px;
    background-position: -450px 300px, 0 450px, 554px 600px;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

.project-page {
  h4 {
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    @include tablet {
      font-size: 30px;
      margin: 0;
    }
  }
  .button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 30px 0px;
    @include tablet {
      flex-direction: row;
      button {
        margin: 0px 10px 0px 0px;
      }
    }
  }
  button {
    @include button;
    margin-top: 10px;
  }
  
  .project-photo {
    width: 100%;
    height: auto;
    margin: 10px auto;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0px 20px $brown;
    @include tablet {
      margin: 20px auto;
    }
  }
  
  h3 {
    font-size: 16px;
    font-family: 'Ralewayß', sans-serif;
    line-height: 1.75;
    text-align: center;
    color: $brown;
    font-weight: normal;
    @include tablet {
      font-size: unset;
    }
  }
  video {
    margin-bottom: 15px;
  }
}

// overlay color 
.css-xeqldi::before {
  background: linear-gradient(160deg, rgba(252, 181, 181, 0.664), rgba(78, 57, 45, 0.541));
}

.MuiFormControl-root {
  font-family: 'Raleway', sans-serif;
}

.side-sheet-content button {
  box-shadow: 0px 0px 10px $spanish-pink;
  &:hover {
    box-shadow: 0px 0px 15px $brown;
  }
}