
$primary-color: #F6738C;
$secondary-color: #FFA048;
$tertiary-color: #F6738C;


@mixin tablet {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin responsive {
  width: 80%;
  margin: 0 auto;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 40%;
  }
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
}

@mixin button {
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding: 10px 25px;
  color: white;
  background-color: $tertiary-color;
  border: none!important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.26);
  outline: none;
  transition: transform, -webkit-transform, -ms-transform, .3s;
  a {
    transition: color .3s;
    color: $primary-color;
  }
  &:hover {
    transform: translateY(-5px);
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin IE10up {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin desktopIE10up {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 900px) {
    @content;
  }
}


// fade effects
.faded {
  opacity: 0;
  transform: translateY(30px);
  transition-property: translate opacity;
  transition-duration: 1s;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

.opaque {
  opacity: 0;
  transition-property: translate opacity;
  transition-duration: 1s;
}

.full {
  opacity: 1;
}
