@import '../../scss/mixins.scss';

nav {
  height: 100vh;
  position:fixed;
  width: 100vw;
  top: 0px;
  z-index: 100;
  background-color: black;
  ul {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  li a {
    text-decoration: none;
    color: white;
    //font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding: 5px 0;
    display: inline-block;
    letter-spacing: 8px;
    text-shadow: rgba(255,255,255,0.73) 5px 2px 20px;
    transition: all .4s;
    &:hover {
      color: $primary-color;
      text-shadow: $primary-color 5px 5px 10px;
      letter-spacing: 11px;
    }
  }
  i {
    color: white;
    font-size: 40px!important;
    right: 15px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
    @include tablet {
      margin-right: 30px;
    }
  }
}

.hidden {
  display: none;
}

.nav {
  position: fixed;
  top: 0px;
  backdrop-filter: blur(2px) brightness(150%);
  background-color: rgba(246, 115, 140, 0.4);
  z-index: 2000;
  width: 100%;
  padding: 10px;
  text-align: right;
  i {
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-right: 30px;
  }
}
